{% extends "base.html" %}
{%load static%}
{% block content %}

<div class="w-100 text-center d-flex justify-content-center">
        <h1> تصاویر محصول</h1>
</div>     
   <div class="container text-center">
        <div class="row">
    {%for image in product.images.all%}
          <div class="col-md-4">

            <div class="card" style="width: 300px; height: 400px;">
                <div class="position-relative h-100 w-100">
                  <img src="{{image.image.url}}" class="position-absolute top-0 start-0 w-100 h-100 img-fluid" alt="...">
                </div>
              </div>

          </div>
   {%endfor%}
        </div>
   </div>

<div class="w-100 text-center d-flex justify-content-center">
    <h2> توضیحات محصول</h2>
</div>  
<p>{{product.description|safe}}</p>
<div class="w-100 text-center d-flex justify-content-center">
    <h2>  قیمت
        {{product.price}}
    </h2>
    {%if product.sale or product.category.sale%}
    <h2>  به همراه  
        {{product.discount}}
        تومان تخفیف
    </h2>
    {%endif%}
</div>  

<div class="w-100 text-center d-flex justify-content-center">
    <button id = "add" product="{{product.id}}" type="button" class="btn btn-primary">اضافه کردن به سبد خرید</button>
</div>  



<script>
function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}


$(document).ready(function(){
        $("#add").on('click', function(){
            if (readCookie('cart') == null){
                cart = { products: [] };
                cart = JSON.stringify(cart);
                document.cookie = "cart="+cart + ";path=/;";
            }
            product = $("#add").attr("product");

            cart =JSON.parse(readCookie('cart'));

            if(!cart.products.includes(product)){
            cart.products.push(product);
            console.log(cart);
            cart = JSON.stringify(cart);
            document.cookie = "cart="+cart + ";path=/;";
            alert("محصول شما به سبد خرید اضافه شد. تعداد ان را می توان در سبد خرید مشخص کرد.")
            }else{alert("محصول در سبد خرید وجود دارد")}

            

            
        });
    });

</script>

{% endblock %}